.menu{
    background-color: #78b43d;
    padding-left: 0px;
    height: 40px;
    text-align: left;
}

.menu>li{
    float: left;
    margin-right: 5px;
}

.menu>li>a{
    text-transform: uppercase;
    color: white;
}

.menu li{
    position: relative;
    list-style: none;
    font-size: 12px;
}

.menu li a{
    padding: 10px;
    line-height: 20px;
    display: inline-block;
    text-decoration: none;
}

.menu .sub-menu{
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    width: 200px;
    background-color: #eee;
    padding: 5px 20px;
}

.menu li:hover>.sub-menu{
    display: block;
    background: #78b43d;
}

.menu>li>.sub-menu{
    top: 40px;
    left: 0;
}
.column{
	background: white ;
	margin-top: 1px; 
	margin-bottom: 12px ; 
	width: 1px;
	height: 38px;
	float: left;
	list-style: none;
}
.horizontal{
	background: green ;
	margin-top: 1px; 
	margin-bottom: 1px ; 
	width: 200px;
	height: 1px;
	float: left;
	list-style: none;
}
#search{
    float: right;
    height: 20px;
    width: 20px;
    margin-right: 20px

}
