body {
	background-image: url(http://thuthuatphanmem.vn/uploads/2018/09/11/hinh-anh-dep-3_044126905.jpg);
}
td {
	
	padding: 10px;
}
#form {
	margin: auto;
	
}
table {
	    width: 600px;
    margin: auto;
    border: 1px solid;
    border-radius: 20px;
    padding: 20px;
    background-color: wheat;
}
.err {
	display: none;
	color: red;
}